@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans:
    "Segoe UI", "Helvetica Neue", Arial, ui-sans-serif, system-ui, sans-serif;
  --font-geist-mono:
    "SFMono-Regular", "Cascadia Code", "Fira Code", Consolas, ui-monospace,
    monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --radius-xl: 12px;
}

@layer utilities {
  .glass-surface {
    @apply border border-white/10 bg-white/5 backdrop-blur-md;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b; /* zinc-950 */
    --foreground: #fafafa; /* zinc-50 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  @apply antialiased selection:bg-indigo-500/30;
}
